
<table class="table calendar">
    <thead>
        <tr>
            {{#each weekdays}}
            <th>
                {{this}}
            </th>
            {{/each}}
        </tr>
    </thead>
    {{#each weeks}}
    <tr class="week">
        {{#each this.days}}
        <td class="{{#if date_string}} week-day {{/if}}" data-day="{{dayValue}}">
            <div class="week-day-div {{#if current }} current {{/if}}">
                <ul style="list-style:none;">
                    <li><span class="date ">{{date_string}}</span></li>
                    {{#each this.events}}
                    <li>
                        <span class="event" data-day="{{../dayValue}}" data-eventid="{{eventId}}" style="background-color:{{this.color}}">
                            <span>{{this.personName}} - {{formatEventName this.eventName}}</span>
                        </span>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </td>
        {{/each}}
    </tr>
    {{/each}}

</table>