
<table class="table calendar">
    <thead>
        <tr>
            {{#each weekdays}}
            <th>
                {{{this}}}
            </th>
            {{/each}}
        </tr>
    </thead>
    {{#each weeks}}
    <tr class="week">
        {{#each this.days}}
        <td class="{{#if date_string}} week-day {{/if}}" data-day="{{dayValue}}">
            <div class="week-day-div {{#if current }} current {{/if}}">
                <ul style="list-style:none;">
                    <li><span class="date ">{{date_string}}</span></li>
                    {{#each this.events}}
                    <li title="{{ this.eventName }}">
                        <span class="event {{#if this.readonly}}readonly{{/if}} {{computeTextColorClass this.color}}" data-day="{{../dayValue}}" data-eventid="{{eventId}}" style="background-color:{{this.color}};">
                            {{#if this.readonly}}
                            <span class="glyphicon glyphicon-lock"></span>
                            {{/if}}
                            <span> 
                                   {{#if this.showTime}}
                                   ({{formatTime this.timeFrom}} - {{formatTime this.timeTo}}) 
                                   {{/if}}
                                   <br /> 
                                   {{#unless ../../../CONFIG.hideAttendee}} 
                                   {{{this.personName}}} - 
                                   {{/unless}}
                                   {{{formatEventName this.eventName}}}
                            </span>
                        </span>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </td>
        {{/each}}
    </tr>
    {{/each}}

</table>