<div id="calendarEventModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{{RESOURCES.CLOSE}}</span></button>
                <h4 class="modal-title">{{RESOURCES.MODAL_TITLE}} <span class="modalTitleDate"></span></h4>
            </div>
            <div class="modal-body">
                <p>{{RESOURCES.MODAL_BODY}}</p>

                <div class="row row-mar">
                    <div class="col-md-5 col-lg-5">
                        {{#if enable_dropdown}}
                            <span>Select person:</span>
                        {{else}}
                            <span>{{RESOURCES.PERSON_NAME}}</span>
                        {{/if}}
                    </div>
                    <div class="col-md-7 col-lg-7">
                        {{#if enable_dropdown}}
                            {{> selectPartial}}
                        {{else}}
                            <input class="person form-control">
                        {{/if}}
                    </div>
                </div>

                <div class="row row-mar">
                    <div class="col-md-5 col-lg-5">
                        <span>{{RESOURCES.EVENT_NAME}}:</span>
                    </div>
                    <div class="col-md-7 col-lg-7">
                        <textarea maxlength="500" rows="4" class="eventName form-control" />
                    </div>
                </div>

                <div class="row row-mar">
                    <div class="col-md-5 col-lg-5">
                        Time from:
                    </div>
                    <div class="col-md-7 col-lg-7">
                        <input class="timeFrom form-control" />
                    </div>
                </div>

                <div class="row row-mar">
                    <div class="col-md-5 col-lg-5">
                        Time to:
                    </div>

                    <div class="col-md-7 col-lg-7">
                        <input class="timeTo form-control" />
                    </div>
                </div>

                <input type="hidden" class="eventId" />
                <input type="hidden" class="eventDay" />

                <div style="clear:both"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary add-event">{{RESOURCES.ADD}}</button>
                <button type="button" class="btn btn-primary edit-event">{{RESOURCES.EDIT}}</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">{{RESOURCES.CLOSE}}</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->