<div class="event-list">
    {{#if events.length}}
    <h3>{{{RESOURCES.EVENT_LIST}}}</h3>
    <table class="table  table-hover table-striped table-responsive">
        <thead>
            <tr>
                <th>#</th>
                {{#if CONFIG.showId }}
                <th>
                    {{RESOURCES.ID}}
                </th>
                {{/if}}
                <th>
                    {{RESOURCES.DATE}}
                </th>
                {{#if CONFIG.showTime}}
                <th>
                    {{RESOURCES.TIME}}
                </th>
                {{/if}}
                {{#unless CONFIG.hideAttendee}}
                <th>
                    {{{RESOURCES.HEADER_PERSON_NAME}}}
                </th>
                {{/unless}}
                <th>
                    {{{RESOURCES.HEADER_EVENT_NAME}}}
                </th>
                {{#if CONFIG.allowEdit}}
                {{#if CONFIG.useIcons}}
                <th>
                    {{{RESOURCES.ACTIONS}}}
                </th>
                {{else}}
                <th></th>
                <th></th>
                {{/if}}
                {{/if}}
            </tr>
        </thead>
        <tbody>
            {{#each events}}
            <tr class="{{#if unsaved}}warning{{/if}}" >
                <td>
                    <div style="background-color: {{color}}; width:18px; height:18px;"></div>
                </td>
                {{#if ../CONFIG.showId}}
                <td>
                    {{this.eventId}}
                </td>
                {{/if}}
                <td>
                    {{formatDate this.year this.month this.day}}
                </td>
                {{#if ../CONFIG.showTime}}
                <td>
                    {{formatTime this.timeFrom}} - {{formatTime this.timeTo}}
                </td>                
                {{/if}}
                {{#unless ../CONFIG.hideAttendee}}
                <td>
                    {{{this.personName}}}
                </td>            
                {{/unless}}
                <td>
                    {{{this.eventName}}}
                </td>
                {{#if ../CONFIG.allowEdit}}
                {{#if ../CONFIG.useIcons}}
                <td>
                    <a href="#" class="edit-event2" data-eventid="{{this.eventId}}"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a href="#" class="remove-event2" data-eventid="{{this.eventId}}"><span class="glyphicon glyphicon-remove"></span></a>
                </td>
                {{else}}
                <td>
                    <a href="#" class="edit-event2" data-eventid="{{this.eventId}}">{{{RESOURCES.EDIT}}}</a>
                </td>
                <td>
                    <a href="#" class="remove-event2" data-eventid="{{this.eventId}}">{{{RESOURCES.REMOVE}}}</a>
                </td>
                {{/if}}
                {{/if}}
            </tr>
            {{/each}}
        </tbody>
    </table>
    {{else}}
    <h3 class="text-muted" style="padding-left:10px;">{{{RESOURCES.NO_DATA}}}</h3>
    {{/if}}
</div>