<div class="event-list">
    <h3>{{RESOURCES.EVENT_LIST}}</h3>
    <table class="table  table-hover table-striped table-responsive">
        <thead>
            <tr>
                <th>#</th>
                {{#if showId}}
                <th>
                    {{RESOURCES.ID}}
                </th>
                {{/if}}
                <th>
                    {{RESOURCES.DATE}}
                </th>
                <th>
                    {{RESOURCES.TIME}}
                </th>
                <th>
                    {{{RESOURCES.HEADER_PERSON_NAME}}}
                </th>
                <th>
                    {{{RESOURCES.HEADER_EVENT_NAME}}}
                </th>
                {{#if useIcons}}
                <th>
                    {{RESOURCES.ACTIONS}}
                </th>
                {{else}}
                <th></th>
                <th></th>
                {{/if}}
            </tr>
        </thead>
        <tbody>
            {{#each events}}
            <tr class="{{#if unsaved}}warning{{/if}}" >
                <td>
                    <div style="background-color: {{color}}; width:18px; height:18px;"></div>
                </td>
                {{#if showId}}
                <td>
                    {{this.eventId}}
                </td>
                {{/if}}
                <td>
                    {{formatDate this.year this.month this.day}}
                </td>
                <td>
                    {{this.timeFrom}} - {{this.timeTo}}
                </td>
                <td>
                    {{this.personName}}
                </td>
                <td>
                    {{this.eventName}}
                </td>
                {{#if ../useIcons}}
                <td>
                    <a href="#" class="edit-event2" data-eventid="{{this.eventId}}"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a href="#" class="remove-event2" data-eventid="{{this.eventId}}"><span class="glyphicon glyphicon-remove"></span></a>
                </td>
                {{else}}
                <td>
                    <a href="#" class="edit-event2" data-eventid="{{this.eventId}}">{{RESOURCES.EDIT}}</a>
                </td>
                <td>
                    <a href="#" class="remove-event2" data-eventid="{{this.eventId}}">{{RESOURCES.REMOVE}}</a>
                </td>
                {{/if}}
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>