<div class="calendar-panel calendar-nav-panel ">
    <div class="pull-left calendar-buttons">
        <button type="button" class="btn btn-primary disabled panel-add-event">{{#if CONFIG.useIcons}}<span class="glyphicon glyphicon-plus"></span>{{/if}}{{{RESOURCES.ADD_EVENT}}}</button>
        <button type="button" class="btn btn-primary disabled panel-edit-event">{{#if CONFIG.useIcons}}<span class="glyphicon glyphicon-pencil"></span>{{/if}}{{{RESOURCES.EDIT_EVENT}}}</button>
        <button type="button" class="btn btn-primary disabled panel-remove-event">{{#if CONFIG.useIcons}}<span class="glyphicon glyphicon-remove"></span>{{/if}}{{{RESOURCES.REMOVE_EVENT}}}</button>

        {{#unless CONFIG.autosave}}
        <button class="btn btn-primary save-events" style="margin-right:10px;">{{{RESOURCES.SAVE_EVENTS}}}</button>
        <label for="event-autosave">{{{RESOURCES.AUTOSAVE}}}</label>
        <input type="checkbox" id="event-autosave" class="event-autosave" />
        {{/unless}}
    </div>
    <div class="pull-right calendar-navigation">
        {{#if CONFIG.navAltVersion}}
        <button type="button" class="btn btn-nav btn-default prev-year btn-lg" title="{{{RESOURCES.PREVIOUS_YEAR}}}"><<</button>
        <button type="button" class="btn btn-nav btn-default prev-month btn-lg" title="{{{RESOURCES.PREVIOUS_MONTH}}}"><</button>

        <h2 style="display:inline-block; padding: 0 0; margin: 0 0;">
            <span class="label label-primary label-lg currentYearMonth">{{currentYearMonth}}</span>
        </h2>

        <button type="button" class="btn btn-nav btn-default next-month btn-lg" title="{{{RESOURCES.NEXT_MONTH}}}">></button>
        <button type="button" class="btn btn-nav btn-default next-year btn-lg" title="{{{RESOURCES.NEXT_YEAR}}}">>></button>
        {{else}}
        <ul class="pagination pagination">
            <li><a class="prev-year" title="{{{RESOURCES.PREVIOUS_YEAR}}}"><span class="glyphicon glyphicon-fast-backward"></span></a></li>
            <li><a class="prev-month" title="{{{RESOURCES.PREVIOUS_MONTH}}}"><span class="glyphicon glyphicon-backward"></span></a></li>
            <li class="disabled"><span class="label label-date label-default currentYearMonth">{{currentYearMonth}}</span></li>
            <li><a class="next-month" title="{{{RESOURCES.NEXT_MONTH}}}"><span class="glyphicon glyphicon-forward"></span></a></li>
            <li><a class="next-year" title="{{{RESOURCES.NEXT_YEAR}}}"><span class="glyphicon glyphicon-fast-forward"></span></a></li>
        </ul>
        {{/if}}
    </div>

    <div style="clear:both;"></div>
</div>
