<div class="calendar-panel calendar-nav-panel ">
    {{#if CONFIG.showEditBar}}
    <div class="calendar-buttons col-lg-2 pull-right">
        <div class="col-lg-10">
            {{#unless CONFIG.autosave}}
            <button class="btn btn-primary save-events" style="margin-right:10px;">{{{RESOURCES.SAVE_EVENTS}}}</button>
            <label for="event-autosave">{{{RESOURCES.AUTOSAVE}}}</label>
            <input type="checkbox" id="event-autosave" class="event-autosave" />
            {{/unless}}
        </div>
        <div class="topicons">
            <a href="" class="iconred disabled panel-remove-event" title="{{{RESOURCES.REMOVE_EVENT}}}"><i class="fa fa-times fa-3x"></i></a>
            <a href="" class="iconblue disabled panel-edit-event" title="{{{RESOURCES.EDIT_EVENT}}}"><i class="fa fa-wrench fa-3x"></i></a>
            <a href="" class="icongreen disabled panel-add-event" title="{{{RESOURCES.ADD_EVENT}}}"><i class="fa fa-plus fa-3x"></i></a>
        </div>
    </div>
    {{/if}}
    <div class="col-lg-10 calendar-navigation pull-left">
        {{#if CONFIG.navAltVersion}}
        <button type="button" class="btn btn-nav btn-default prev-year btn-lg" title="{{{RESOURCES.PREVIOUS_YEAR}}}"><<</button>
        <button type="button" class="btn btn-nav btn-default prev-month btn-lg" title="{{{RESOURCES.PREVIOUS_MONTH}}}"><</button>

        <h2 style="display:inline-block; padding: 0 0; margin: 0 0;">
            <span class="label label-primary label-lg currentYearMonth">{{currentYearMonth}}</span>
        </h2>

        <button type="button" class="btn btn-nav btn-default next-month btn-lg" title="{{{RESOURCES.NEXT_MONTH}}}">></button>
        <button type="button" class="btn btn-nav btn-default next-year btn-lg" title="{{{RESOURCES.NEXT_YEAR}}}">>></button>
        {{else}}
        <ul class="pagination pagination">
            <li><a class="prev-year" title="{{{RESOURCES.PREVIOUS_YEAR}}}"><span class="glyphicon glyphicon-fast-backward"></span></a></li>
            <li><a class="prev-month" title="{{{RESOURCES.PREVIOUS_MONTH}}}"><span class="glyphicon glyphicon-backward"></span></a></li>
            <li class="disabled"><span class="label label-date label-default currentYearMonth">{{currentYearMonth}}</span></li>
            <li><a class="next-month" title="{{{RESOURCES.NEXT_MONTH}}}"><span class="glyphicon glyphicon-forward"></span></a></li>
            <li><a class="next-year" title="{{{RESOURCES.NEXT_YEAR}}}"><span class="glyphicon glyphicon-fast-forward"></span></a></li>
        </ul>
        {{/if}}
    </div>

    <div style="clear:both;"></div>
</div>
