<div class="text-center">
    <h2>
        <span class="label label-primary label-lg">{{current_year_month}}</span>
    </h2>
</div>
<table class="table calendar">
    <thead>
        <tr>
            {{#each weekdays}}
            <th>
                {{this}}
            </th>
            {{/each}}
        </tr>
    </thead>
    {{#each weeks}}
    <tr class="week">
        {{#each this.days}}
        <td class="{{#if date_string}} week-day {{/if}}" data-day="{{dayValue}}">
            <div class="week-day-div">
                <ul style="list-style:none;">
                    <li><span class="date">{{date_string}}</span></li>
                    {{#each this.events}}
                    <li>
                        <span class="event" data-day="{{../dayValue}}" data-eventid="{{eventId}}" style="background-color:{{this.color}}">
                            <b>{{this.person}} - {{this.eventName}}</b>
                        </span>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </td>
        {{/each}}
    </tr>
    {{/each}}

</table>
