<div class="event-list ">
  <hr />
    <h3>Event list</h3>
    <table class="table  table-hover table-striped table-responsive">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Date
                </th>
                <th>
                    Person name
                </th>
                <th>
                    Event name
                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each this}}
            <tr>
                <td>
                    {{this.eventId}}
                </td>
                <td>
                    {{this.year}}-{{this.month}}-{{this.day}}
                </td>
                <td>
                    {{this.person}}
                </td>
                <td>
                    {{this.eventName}}
                </td>
               <td>
                   <a href="#" class="edit-event2" data-eventid="{{this.eventId}}">Edit</a>
               </td>
              <td>
                  <a href="#" class="remove-event2" data-eventid="{{this.eventId}}">Remove</a>
              </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>